body{
    height: 3000px;
    font-family: 'Lato', sans-serif;
}

.calendar-container{
    max-width: 1100px;
}

#countries-list {
    display: flex;
    flex-direction: column;
}

#countries-list li {
    margin-bottom: 15px;
}

#calendar {
    max-width: 1100px;
}

#header {
    background-color: #1a252f;
    color: white;
    font-family: 'Lato', sans-serif;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #CBA688;
    text-align: center;

}

#hero {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../../assets/images/hero.png");
    background-size: cover;
    background-position: center;
}


.add-btn {
    background-color: #1a252f;
    color: #efefef;
    margin-right: 25%;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;

}

.add-btn:hover {
    background-color: #1a252f;
}

#submit-button {
    background-color: #1a252f;
    color: #efefef;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    margin-left: 5px;;
}

#countryI {
    color: #2C3E50;
}

#backBtn {
    background-color: #2C3E50;
    color: white;
}

#homepage {
    background-color: #efefef;
}

#list-text {
    color: #1a252f;
}

#countries-list li:hover {
    background-color: tomato;

    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.75s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

<<<<<<< HEAD

=======
#legends {
    display: flex;
    flex-direction: row;
}
/* Shake Animation */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#charts {
    background-color: #1a252f;
    height: 100vh;
}
>>>>>>> dev
